// font-family: 'Merriweather', serif;
// font-family: 'Inter', sans-serif;

$Merriweather: 'Merriweather', serif

$Inter: 'Inter', sans-serif

$baseFontSize: 16px



@mixin fonts($family, $weight, $size, $lineheight)
    font:
        family: $family
        size: $size
        weight: $weight
        line-height: $lineheight