*
    box-sizing: border-box
body
    min-height: 100vh
    overflow-y: hidden
    background: linear-gradient(#30373D 50%, #556370)
    background-size: cover
    position: relative
    color: #fff
    
.player
    position: absolute
    // max-width: 300px
    // max-height: 600px
    width: 300px
    height: 600px
    border-radius: 20px
    background: linear-gradient(#4A6F7B,#22292C,)
    right: 50%
    top: 50%
    transform: translate(50%, -50%)
    overflow: hidden
    display: flex
    row-gap: 50px
    flex-direction: column
    align-items: center
    justify-content: center
    box-shadow: 0 0 10px #000000
    // filter: blur(3px)
    transition: .5s
    &:hover
        filter: none
    &__track-img
        background-image: url(./img/dontstartnow.png)
        background-repeat: no-repeat
        background-size: contain
        width: 220px
        height: 220px
        border-radius: 50%
    &__toolbar
        display: flex
        flex-direction: column
        align-items: center
        row-gap: 20px
    &__input
        width: 250px
    &__handle
        display: flex
        align-items: center
        justify-content: center
        column-gap: 15px
    &__button
        &.previous
            width: 30px
            height: 30px
            background-image: url(./svg/play-prev.svg)
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            background-color: transparent
            border: 0
            outline: 0
            opacity: .8
            cursor: pointer
            transition: .3s
            &:hover
                opacity: 1
        &.play
            width: 50px
            height: 50px
            background-image: url(./svg/play.svg)
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            background-color: transparent
            border: 0
            outline: 0
            opacity: .8
            cursor: pointer
            transition: .3s
            &:hover
                opacity: 1
        &.next
            width: 30px
            height: 30px
            background-image: url(./svg/play-next.svg)
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            background-color: transparent
            border: 0
            outline: 0
            opacity: .8
            cursor: pointer
            transition: .3s
            &:hover
                opacity: 1

        
